---
import burritos from "~/assets/menu/burritos.webp";
import tacos from "~/assets/menu/tacos_de_birria.webp";
import fajitas from "~/assets/menu/fajita_texana.webp";
import desserts from "~/assets/menu/combo_dessert.webp";
import { Image } from "astro:assets";

const popularDishes = [
  {
    title: "Fajitas",
    href: "/menu#fajitas",
    description:
      "Sizzling plate with your choice of meat, bell peppers, onions, and a side of rice, and tortillas",
    img: {
      src: fajitas,
      alt: "fajitas on a sizzling plate",
    },
  },
  {
    title: "Tacos",
    href: "/menu#tacos",
    description:
      "Three tacos with your choice of meat, topped with onions, cilantro, and a side of salsa",
    img: {
      src: tacos,
      alt: "three tacos in a plate",
    },
  },
  {
    title: "Burritos",
    href: "/menu#burritos",
    description:
      "A large flour tortilla filled with your choice of meat, rice, beans, lettuce, sour cream, shredded cheese, and pico de gallo",
    img: {
      src: burritos,
      alt: "One burrito in a plate",
    },
  },
  {
    title: "Desserts",
    href: "/menu#desserts",
    description:
      "Churros and flan to satisfy your sweet tooth after a delicious meal",
    img: {
      src: desserts,
      alt: "Churros with chocolate sauce and a flan in a plate",
    },
  },
];
---

<section class="bg-stone-100">
  <div
    class="mx-auto flex w-full max-w-6xl flex-col items-center justify-center px-4 py-24 sm:px-8"
  >
    <span
      class="inline-block rounded-full bg-amber-400 px-4 py-1 text-sm font-semibold tracking-tight text-amber-950"
      >Popular dishes</span
    >
    <h2
      class="mt-4 text-center text-3xl font-bold tracking-tight text-stone-900 md:text-4xl"
    >
      Our customer's favorites
    </h2>
    <p class="mt-2 text-center text-pretty text-stone-500">
      Discover the most popular dishes in our restaurant
    </p>
    <ul class="mt-8 grid w-full grid-cols-1 gap-4 md:grid-cols-2 md:gap-2">
      {
        popularDishes.map((dish) => (
          <li class="relative overflow-hidden rounded-md transition-colors">
            <a
              class="absolute inset-0 bg-gradient-to-b from-transparent to-stone-900/50 opacity-0 transition-all hover:opacity-100"
              href={dish.href}
            >
              <span class="absolute top-2 left-2 rounded-md bg-amber-400 px-2 py-1 text-sm font-medium">
                {dish.title}
              </span>
              <p class="absolute bottom-2 left-2 p-2 text-white">
                {dish.description}
              </p>
            </a>
            <Image
              src={dish.img.src}
              alt={dish.img.alt}
              layout="constrained"
              sizes="(max-width: 768px) 100vw, (max-width: 1152px) 50vw, 576px"
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>
