---
import { navLinks, socialLinks } from "~/constants";
import { Image } from "astro:assets";
import logoImg from "~/assets/logo.webp";
---

<footer class="bg-wood-950 px-4 pt-12">
  <div class="mx-auto grid max-w-6xl grid-cols-1 gap-6 md:grid-cols-4">
    <Image
      class="mx-auto h-auto w-36"
      src={logoImg}
      format="webp"
      loading="lazy"
      alt="Restaurant logo"
    />
    <div>
      <h2 class="font-semibold text-amber-400">Links</h2>
      <ul class="text-wood-50 mt-3 flex flex-col gap-2">
        {
          navLinks.map((link) => (
            <li>
              <a class="underline-offset-2 hover:underline" href={link.href}>
                {link.name}
              </a>
            </li>
          ))
        }
        <li>
          <a
            class="underline-offset-2 hover:underline"
            href="https://casarealvt.com/"
          >
            Casa Real
          </a>
        </li>
        <li>
          <a
            class="underline-offset-2 hover:underline"
            href="https://casagrandevt.com/"
          >
            Casa Grande
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="font-semibold text-amber-400">Socials</h2>
      <ul class="text-wood-50 mt-3 flex flex-col gap-2">
        {
          Object.entries(socialLinks).map(([name, href]) => (
            <li>
              <a class="underline-offset-2 hover:underline" href={href}>
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <address class="text-wood-50 not-italic">
      <h2 class="mb-3 font-semibold text-amber-400">Address</h2>
      1450 Barre-Montpelier Rd<br />
      Barre, VT 05641<br />
      <h2 class="mt-6 mb-3 font-semibold text-amber-400">Phone</h2>
      +1 (802) 505-4064<br />
      <h2 class="mt-6 mb-3 font-semibold text-amber-400">Opening hours</h2>
      Mon - Sun: 10:30am - 9:30pm<br />
    </address>
  </div>
  <p class="text-wood-50 mx-auto max-w-6xl py-6 text-xs">
    Website built by <a
      class="underline underline-offset-2 hover:text-amber-400"
      href="https://www.kevinzunigacuellar.com/">@kevinzunigacuellar</a
    >
  </p>
</footer>
